---
import Typography from "@/components/atoms/Typography";

interface ExperienceCardProps {
  name?: string;
  position?: string;
  startDate?: string;
  endDate?: string;
  summary?: string;
  location?: string;
}

const {
  name,
  position,
  startDate,
  endDate,
  summary,
  location,
}: ExperienceCardProps = Astro.props;
---

<section
  class="w-full flex flex-col gap-1 border-b border-gray-300 dark:border-gray-800 pb-2 print:break-inside-avoid"
>
  <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center">
    <div class="flex items-center gap-1">
      <Typography
        tag="h3"
        text={position}
        variant="label3"
        className="font-medium"
      />
      <span class="text-gray-500 dark:text-gray-400"> - </span>
      <Typography tag="p" text={name} variant="label4" className="font-light" />
    </div>
    <div class="flex items-center gap-1">
      <Typography
        tag="p"
        text={startDate}
        variant="label4"
        className="font-light text-gray-400"
      />
      <span class="text-gray-500 dark:text-gray-400"> - </span>
      <Typography
        tag="p"
        text={endDate}
        variant="label4"
        className="font-light text-gray-400"
      />
    </div>
  </div>
  {
    location && (
      <Typography
        tag="p"
        text={location}
        variant="label4"
        className="font-light text-gray-400"
      />
    )
  }
  {
    summary && (
      <Typography
        tag="p"
        text={summary}
        variant="label4"
        className="font-light"
      />
    )
  }
</section>
