---
import ProfilePic from "@/assets/images/profilePic.jpg";
import Typography from "@/components/atoms/Typography";
import HeroItem from "@/components/molecules/HeroItem";
import type { HeroBlockProps } from "@/types/blocks";
import {
  Cake,
  EnvelopeSimple,
  GithubLogo,
  InstagramLogo,
  LinkedinLogo,
  MapPin,
  Phone,
} from "@phosphor-icons/react";
import { Image } from "astro:assets";
const {
  name,
  position,
  email,
  age,
  phone,
  location,
  profiles,
}: HeroBlockProps = Astro.props;
---

<section class="w-full flex items-start justify-start gap-4">
  <Image
    src={ProfilePic}
    alt="profile picture"
    class="w-56 h-fit rounded-xl shadow-xl"
  />
  <div class="flex flex-col gap-2">
    <div>
      <Typography
        tag="h1"
        text={name}
        variant="label1"
        className="font-medium"
      />
      <Typography
        tag="h2"
        text={position}
        variant="label3"
        className="font-thin text-gray-400"
      />
    </div>
    <div class="flex flex-col gap-1">
      <HeroItem text={email} link={`mailto:${email}`}>
        <EnvelopeSimple slot="icon" size={20} weight="bold" />
      </HeroItem>
      <HeroItem text={phone} link={`tel:${phone}`}>
        <Phone slot="icon" size={20} weight="bold" />
      </HeroItem>
      <HeroItem
        text={location?.city + ", " + location?.countryCode}
        link={location?.link}
      >
        <MapPin slot="icon" size={20} weight="bold" />
      </HeroItem>
      <HeroItem text={age}>
        <Cake slot="icon" size={20} weight="bold" />
      </HeroItem>
      {
        profiles?.map((profile) => (
          <HeroItem text={profile.username} link={profile.url}>
            {profile?.icon === "LinkedinLogo" && (
              <LinkedinLogo slot="icon" size={20} weight="bold" />
            )}
            {profile?.icon === "GithubLogo" && (
              <GithubLogo slot="icon" size={20} weight="bold" />
            )}
            {profile?.icon === "InstagramLogo" && (
              <InstagramLogo slot="icon" size={20} weight="bold" />
            )}
          </HeroItem>
        ))
      }
    </div>
  </div>
</section>
